BasedOnStyle: Chromium

ColumnLimit: 150
PointerAlignment: Right
InsertNewlineAtEOF: True
ContinuationIndentWidth: 2

AlignAfterOpenBracket: BlockIndent
AllowShortLambdasOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty